/.metadata/
/.recommenders/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/build/
/JavaFXApplication1/dist/
/JavaFXApplication2/nbproject/private/
/JavaFXApplication2/build/
/JavaFXApplication2/dist/
/GoalTest1_Soln/nbproject/private/
/GoalTest_Student/nbproject/private/
/GoalTest_Student/dist/
/GoalTest_Student/build/